
    <h1>Add new Image to Gallery</h1>

    {{ include('admin/image/_form.html.twig') }}

{% for image in imagelist %}
<img src="{{ asset('uploads') }}/images/{{ image.image }}" height="100">
<a href="{{path('admin_image_del',{'id':image.id,'pid':image.productid})}}" onclick="return confirm('This user will be deleted !');" class="btn btn-danger btn-fw">Delete  </a>
{% endfor %}
